* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: 'Ropa Sans', sans-serif;
}
body {
    height: 100vh;
    background-image: url(../form-project/img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
header {
    padding-left: 10vw;
    padding-top: 5%;
    height: 30%;
}

header div.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

header div.container img {
    height: 130px;
    width: 130px;
    padding: 10px;;
    color: white;
    background-color: white;
    border-radius: 50%;
}

div#header-logotype {
    border-radius: 1rem;
    background-color: rgba(37, 38, 39, 0.8);
    box-shadow: 0 0 5px 5px rgba(37, 38, 39, 0.8);
    padding: 5px;
    font-size: 4vw;
    font-weight: bold;
    letter-spacing: 0.8rem;
    color: white;
    flex: 1;
    font-family: 'Francois One', sans-serif;
}
div#header-logotype span {
    
    font-size: 1rem;
    letter-spacing: 0.4rem;
    font-family: 'Francois One', sans-serif;
}
section {
    height: 70%;
    width: 100%;
    background-color: rgba(136, 129, 129, 0.7);
    clip-path: polygon(40% 0%, 55% 45%, 100% 45%, 100% 100%, 0 100%, 0 0%);
    border-radius: 2rem;
    padding-left: 5rem;
    padding-top: 5rem;
}

form{
    background-color: rgb(199, 199, 199);
    border-radius: 1rem;
    box-shadow: 0 0 6px 6px silver;
    padding: 10px 25px;
    /* height: 36vh; */
    width: 35vw;
    min-width: 310px;
    font-family: 'Ropa Sans', sans-serif;
}

#form-header {
    font-size: 2vw;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}

.form-row {
    height: 4rem;
    position: relative;
}

input {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 14vw;
    height: 1.8rem;
    padding-left: 10px;
    border: white;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px grey;
    font-size: 1rem;
}

input:focus {
    background-color: rgb(201, 211, 201);
}

input:valid {
    background-color: rgb(132, 233, 132);
    border-color: rgb(16, 201, 16);
}

input.invalid {
    border: 1px solid red;
    background-color: rgb(233, 76, 76);
}

#warning {
    color: red;
    font-size: 0.9rem;
    position: absolute;
    left: 0;
    top: 75%;
}

span.left {
    float: left;
}

span.right {
    float:right;
}
label{
    font-size: 1.1rem;
}
.aster {
    color:red;
}

button {
    border: none;
    font-size: 2rem;
    width: 35vw;
    height: 4rem;
    margin-top: 10px;
    border-radius: 1rem;
    letter-spacing: 5px;
    background-color: rgba(107, 117, 126, 0.8);
    transition: 0.4ms;
    min-width: 310px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(96, 105, 112);
    transition: 0.4ms;
}

button:active {
    background-color: rgb(46, 49, 51); 
    color: white;
    transition: 0.4ms;
}

a {
    text-decoration: none;
}
.login {
    margin-bottom: 5px;
}

@media (max-width:1650px){
    span#quote {
        display: block;
    }
}

@media (max-width:1000px){
    input{
        width: 13vw;
    }
    label {
        font-size:0.9rem;
    }
    section {
        padding-left: 4vw;
    }
}

@media (max-width: 750px){

    form {
        margin-left: auto;
        margin-right: auto;
    }
    .credits {
        margin: 0 auto;
        text-align:center;
    }
    section {
        clip-path: none;
    }
    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #form-header {
        font-size: 1.3rem;
    }

    input {
        width: 8rem;
    }

}

